/*Put your custom style changes here*/

#header {
	background-color: darkgreen;
	font-family: serif;
	font-size: 34px;
	font-style: bold;
	padding-bottom: 20px;
	padding-top: 20px;
	color: whitesmoke;
	padding-left: 10%;
}

#footer {
	width: 100%;
	height: 75px;
	background-color: darkgreen;
	margin-top: 200px;
}

#header span {
	font-size: 14px;
}

#front_page_content .container {
	margin-top: 30px;
}

#login_reg {
	max-width: 900px;
	margin: 0 auto;
	margin-top: 100px;
	border-style: solid;
    border-width: 5px;
    border-radius: 5px;

}f

#login_reg form {
	margin-top: 30px;
	margin-bottom: 50px;
}

#login_head {
	font-family: Georgia;
	background-color: darkgreen;
	font-size: 34px;
	font-style: bold;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 40px;
	color: whitesmoke;
}

.error {
	margin-top: 10px;
	background-color: crimson;
	line-height: 25px;
	border-radius: 5px;
	text-align: center;
	
}

.error ol {
	list-style-type: none;
}

#image_button {
	margin-top: 20px;
}

#logout {
	float: right;
}

#edit_container {
	display: none;
}

#profile_img {
	max-height: 200px;
	width: auto;
}

.myimages {
	margin-top: 10px;
	
}

.my_img {
	overflow: hidden;
	max-width: 100%;
}

.slide_container {
	margin-bottom: 20px;
}